@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@source "./**";
@source "../**";
@source "../../../cht-design-system/src";
@source "../../../cht-shared/src";

@source inline(
    "bg-{neutral,stone,zinc,slate,gray,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{50,{100..900..100}}"
);

/* Theme customization */
@theme {
    --color-background: oklch(0.145 0 0);
    --color-foreground: oklch(0.95 0 0);

    --color-shadow: rgba(0, 0, 0, 0.25);

    --color-card: oklch(0.205 0 0);
    --color-card-foreground: oklch(0.985 0 0);

    --color-popover: oklch(0.205 0 0);
    --color-popover-foreground: oklch(0.985 0 0);

    --color-primary: oklch(0.48 0.25 265.5);
    --color-primary-foreground: oklch(0.97 0.014 254.604);

    --color-secondary: oklch(0.274 0.006 286.033);
    --color-secondary-foreground: oklch(0.985 0 0);

    --color-muted: oklch(0.269 0 0);
    --color-muted-foreground: oklch(0.708 0 0);

    --color-accent: oklch(0.269 0 0);
    --color-accent-foreground: oklch(0.985 0 0);

    --color-destructive: var(--color-red-500);
    --color-destructive-foreground: oklch(0.985 0 0);

    --color-success: var(--color-lime-600);
    --color-success-foreground: oklch(0.985 0 0);

    --color-warning: var(--color-yellow-500);
    --color-warning-foreground: oklch(0.145 0 0);

    --color-info: var(--color-sky-500);
    --color-info-foreground: oklch(0.985 0 0);

    --color-border: oklch(1 0 0 / 10%);
    --color-input: oklch(1 0 0 / 15%);
    --color-ring: oklch(0.556 0 0);

    --color-chart-1: oklch(0.588 0.158 130.24);
    --color-chart-2: oklch(0.588 0.158 150.35);
    --color-chart-3: oklch(0.588 0.158 248.83);
    --color-chart-4: oklch(0.588 0.158 360);
    --color-chart-5: oklch(0.588 0.158 36.32);

    --color-sidebar: oklch(0.205 0 0);
    --color-sidebar-foreground: oklch(0.985 0 0);
    --color-sidebar-accent: oklch(0.269 0 0);
    --color-sidebar-accent-foreground: oklch(0.985 0 0);
    --color-sidebar-border: oklch(1 0 0 / 10%);
    --color-sidebar-ring: oklch(0.556 0 0);
}
